<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="category.payment"
            class="ch.eugster.colibri.admin.payment.views.PaymentView"
            icon="icons/money_green_16.png"
            id="ch.eugster.colibri.admin.payment.view"
            name="Zahlungsarten"
            restorable="true">
      </view>
      <category
            id="category.payment"
            name="Zahlungsarten">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.colibri.admin.payment.editors.PaymentEditor"
            default="false"
            icon="icons/money_violet_16.png"
            id="ch.eugster.colibri.admin.payment.editor"
            name="Payment Editor">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.payment.editors.MoneyEditor"
            default="false"
            icon="icons/money_yellow_16.png"
            id="ch.eugster.colibri.money.editor"
            name="Money Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.colibri.admin.payment.perspective">
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.payment.view"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.colibri.admin.payment.editor"
            targetID="ch.eugster.colibri.admin.payment.editor">
         <action
               actionID="payment.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="payment.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="payment.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="payment.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Save changes">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.admin.money.editor"
            targetID="ch.eugster.colibri.money.editor">
         <action
               actionID="payment.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="payment.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="payment.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="payment.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Save changes">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="category.payment"
            name="Zahlungsarten">
      </category>
      <command
            categoryId="category.payment"
            description="Zahlungsart hinzufügen"
            id="ch.eugster.colibri.admin.payment.commands.addPaymentType"
            name="Hinzufügen">
      </command>
      <command
            categoryId="category.payment"
            description="Zahlungsart bearbeiten"
            id="ch.eugster.colibri.admin.payment.commands.editPaymentType"
            name="Bearbeiten">
      </command>
      <command
            categoryId="category.payment"
            description="Zahlungsart entfernen"
            id="ch.eugster.colibri.admin.payment.commands.deletePaymentType"
            name="Entfernen">
      </command>
      <command
            categoryId="category.payment"
            description="Geld hinzufügen"
            id="ch.eugster.colibri.admin.payment.commands.addMoney"
            name="Hinzufügen">
      </command>
      <command
            categoryId="category.payment"
            description="Geld bearbeiten"
            id="ch.eugster.colibri.admin.payment.commands.editMoney"
            name="Bearbeiten">
      </command>
      <command
            categoryId="category.payment"
            description="Geld entfernen"
            id="ch.eugster.colibri.admin.payment.commands.deleteMoney"
            name="Entfernen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.colibri.admin.payment.handlers.AddPaymentTypeHandler"
            commandId="ch.eugster.colibri.admin.payment.commands.addPaymentType">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.payment.IPaymentTypeGroup">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.payment.handlers.EditPaymentTypeHandler"
            commandId="ch.eugster.colibri.admin.payment.commands.editPaymentType">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.PaymentType">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.payment.handlers.DeletePaymentTypeHandler"
            commandId="ch.eugster.colibri.admin.payment.commands.deletePaymentType">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.PaymentType">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.payment.handlers.AddMoneyHandler"
            commandId="ch.eugster.colibri.admin.payment.commands.addMoney">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.PaymentType">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.payment.handlers.EditMoneyHandler"
            commandId="ch.eugster.colibri.admin.payment.commands.editMoney">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Money">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.payment.handlers.DeleteMoneyHandler"
            commandId="ch.eugster.colibri.admin.payment.commands.deleteMoney">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.Money">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ch.eugster.colibri.admin.payment.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.addPaymentType"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neue Zahlungsart hinzufügen">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.payment.IPaymentTypeGroup">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.editPaymentType"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Edit PaymentType">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.PaymentType">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.deletePaymentType"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Delete PaymentType">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.PaymentType">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="ch.eugster.colibri.admin.payment.separator"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.addMoney"
               disabledIcon="icons/add_money_grey_16.png"
               hoverIcon="icons/add_money_16.png"
               icon="icons/add_money_16.png"
               label="Einheit hinzufügen"
               style="push"
               tooltip="Neues Kleingeld hinzufügen">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.PaymentType">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.editMoney"
               disabledIcon="icons/edit_money_grey_16.png"
               hoverIcon="icons/edit_money_16.png"
               icon="icons/edit_money_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewähltes Kleingeld bearbeiten">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.Money">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.deleteMoney"
               disabledIcon="icons/delete_money_grey_16.png"
               hoverIcon="icons/delete_money_16.png"
               icon="icons/delete_money_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewähltes Kleingeld entfernen">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Money">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.colibri.admin.payment.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.addPaymentType"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neue Zahlungsart hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.editPaymentType"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Edit PaymentType">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.deletePaymentType"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Delete PaymentType">
         </command>
         <separator
               name="ch.eugster.colibri.admin.payment.separator"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.addMoney"
               disabledIcon="icons/add_money_grey_16.png"
               hoverIcon="icons/add_money_16.png"
               icon="icons/add_money_16.png"
               label="Hinzufügen"
               style="push"
               tooltip="Neues Kleingeld hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.editMoney"
               disabledIcon="icons/edit_money_grey_16.png"
               hoverIcon="icons/edit_money_16.png"
               icon="icons/edit_money_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewähltes Kleingeld bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.payment.commands.deleteMoney"
               disabledIcon="icons/delete_money_grey_16.png"
               hoverIcon="icons/delete_money_16.png"
               icon="icons/delete_money_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewähltes Kleingeld entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.colibri.admin.menu.views?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               disabledIcon="icons/money_grey_16.png"
               hoverIcon="icons/money_green_16.png"
               icon="icons/money_green_16.png"
               label="Zahlungsarten"
               style="push"
               tooltip="Öffnen der Sicht mit den Zahlungsarten">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.colibri.admin.payment.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.admin.perspective.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               disabledIcon="icons/money_grey_16.png"
               hoverIcon="icons/money_green_16.png"
               icon="icons/money_green_16.png"
               label="Zahlungsarten"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspktive Zahlungsarten wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.admin.payment.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.admin.payment.AdminPaymentPerspective"
            icon="icons/money_green_16.png"
            id="ch.eugster.colibri.admin.payment.perspective"
            name="Zahlungsarten">
      </perspective>
   </extension>

</plugin>
