<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ch.eugster.colibri.client.application"
         name="ColibriTS II"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="ch.eugster.colibri.client.app.ClientApplication">
         </run>
      </application>
   </extension>
</plugin>
