<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="category.user"
            class="ch.eugster.colibri.admin.user.views.UserView"
            icon="icons/user_green_16.png"
            id="ch.eugster.colibri.admin.user.view"
            name="Benutzer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="category.user"
            class="ch.eugster.colibri.admin.user.views.RoleView"
            icon="icons/star_orange_16x16.png"
            id="ch.eugster.colibri.admin.role.view"
            name="Rollen"
            restorable="true">
      </view>
      <category
            id="category.user"
            name="Benutzer">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.colibri.admin.user.perspective">
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.user.view"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.role.view"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ch.eugster.colibri.admin.user.view"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="category.editor"
            name="Editoren">
      </category>
      <command
            categoryId="category.editor"
            id="ch.eugster.colibri.admin.user.commands.save"
            name="Speichern">
      </command>
      <command
            categoryId="category.editor"
            id="ch.eugster.colibri.admin.user.commands.reset"
            name="Verwerfen">
      </command>
      <category
            id="category.user"
            name="Benutzer">
      </category>
      <command
            categoryId="category.user"
            defaultHandler="ch.eugster.colibri.admin.user.handlers.AddUserHandler"
            id="ch.eugster.colibri.admin.user.commands.addUser"
            name="Hinzufügen">
      </command>
      <command
            categoryId="category.user"
            id="ch.eugster.colibri.admin.user.commands.editUser"
            name="Bearbeiten">
      </command>
      <command
            categoryId="category.user"
            id="ch.eugster.colibri.admin.user.commands.deleteUser"
            name="Entfernen">
      </command>
      <command
            categoryId="category.user"
            defaultHandler="ch.eugster.colibri.admin.user.handlers.AddRoleHandler"
            id="ch.eugster.colibri.admin.user.commands.addRole"
            name="Hinzufügen">
      </command>
      <command
            categoryId="category.user"
            id="ch.eugster.colibri.admin.user.commands.editRole"
            name="Bearbeiten">
      </command>
      <command
            categoryId="category.user"
            id="ch.eugster.colibri.admin.user.commands.deleteRole"
            name="Entfernen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ch.eugster.colibri.admin.user.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.user.commands.addUser"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neuen Benutzer hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.user.commands.editUser"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählten Benutzer Bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.user.commands.deleteUser"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewählten Benutzer entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.colibri.admin.user.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.user.commands.addUser"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neuen Benutzer hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.user.commands.editUser"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählten Benutzer bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.user.commands.deleteUser"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewählten Benutzer entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.colibri.admin.role.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.user.commands.addRole"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neue Rolle hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.user.commands.editRole"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählte Rolle bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.user.commands.deleteRole"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewählte Rolle entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.colibri.admin.role.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.user.commands.addRole"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neue Rolle hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.user.commands.editRole"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählte Rolle bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.user.commands.deleteRole"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewählte Rolle entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.colibri.admin.menu.views?after=additions">
         <menu
               icon="icons/user_blue_16.png"
               label="Benutzer"
               tooltip="Auswahl der Sichten des Benutzerbereichs">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  disabledIcon="icons/user_grey_16.png"
                  hoverIcon="icons/user_green_16.png"
                  icon="icons/user_green_16.png"
                  label="Benutzer"
                  style="push"
                  tooltip="Öffnen der Sicht mit den Benutzern">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="ch.eugster.colibri.admin.user.view">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  disabledIcon="icons/star_grey_16x16.png"
                  hoverIcon="icons/star_orange_16x16.png"
                  icon="icons/star_orange_16x16.png"
                  label="Rollen"
                  style="push"
                  tooltip="Öffnen der Sicht mit den Benutzerrollen">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="ch.eugster.colibri.admin.role.view">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.admin.perspective.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               disabledIcon="icons/user_grey_16.png"
               hoverIcon="icons/user_blue_16.png"
               icon="icons/user_blue_16.png"
               label="Benutzer"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspktive Benutzer wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.admin.user.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.colibri.admin.user.editors.UserEditor"
            default="false"
            icon="icons/user_green_16.png"
            id="ch.eugster.colibri.admin.user.editor"
            name="%editor.name.0">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.user.editors.RoleEditor"
            default="false"
            icon="icons/star_orange_16x16.png"
            id="ch.eugster.colibri.admin.role.editor"
            name="Rollen Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.colibri.admin.user.editorContribution"
            targetID="ch.eugster.colibri.admin.user.editor">
         <action
               actionID="salespoint.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="salespoint.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen verwerfen">
         </action>
         <action
               actionID="salespoint.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="salespoint.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen speichern">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.admin.user.editorContribution"
            targetID="ch.eugster.colibri.admin.role.editor">
         <action
               actionID="salespoint.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="salespoint.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen verwerfen">
         </action>
         <action
               actionID="salespoint.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="salespoint.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen speichern">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.eugster.colibri.admin.user.preferences.UserPreferenceInitializer">
      </initializer>
      <modifier
            class="ch.eugster.colibri.admin.user.preferences.UserPreferenceModifyListener">
      </modifier>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.colibri.admin.user.handlers.DeleteRoleHandler"
            commandId="ch.eugster.colibri.admin.user.commands.deleteRole">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.Role">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.user.handlers.DeleteUserHandler"
            commandId="ch.eugster.colibri.admin.user.commands.deleteUser">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.User">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.user.handlers.EditRoleHandler"
            commandId="ch.eugster.colibri.admin.user.commands.editRole">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Role">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.user.handlers.EditUserHandler"
            commandId="ch.eugster.colibri.admin.user.commands.editUser">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.User">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.admin.user.AdminUserPerspective"
            icon="icons/user_red_16.png"
            id="ch.eugster.colibri.admin.user.perspective"
            name="Benutzer">
      </perspective>
   </extension>

</plugin>
