* text=auto !eol
ch.eugster.colibri.admin/.classpath -text
ch.eugster.colibri.admin/.project -text
ch.eugster.colibri.admin/.settings/org.eclipse.jdt.core.prefs -text
ch.eugster.colibri.admin/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.colibri.admin/META-INF/MANIFEST.MF -text
ch.eugster.colibri.admin/build.properties -text
ch.eugster.colibri.admin/icons/error_16.png -text
ch.eugster.colibri.admin/icons/exclamation_16.png -text
ch.eugster.colibri.admin/icons/exit_16x16.png -text
ch.eugster.colibri.admin/icons/kasse_128x128.bmp -text
ch.eugster.colibri.admin/icons/kasse_128x128.png -text
ch.eugster.colibri.admin/icons/kasse_128x128_32.bmp -text
ch.eugster.colibri.admin/icons/kasse_16x16.bmp -text
ch.eugster.colibri.admin/icons/kasse_16x16.png -text
ch.eugster.colibri.admin/icons/kasse_16x16_32.bmp -text
ch.eugster.colibri.admin/icons/kasse_250x235.bmp -text
ch.eugster.colibri.admin/icons/kasse_32x32.bmp -text
ch.eugster.colibri.admin/icons/kasse_32x32.png -text
ch.eugster.colibri.admin/icons/kasse_32x32_32.bmp -text
ch.eugster.colibri.admin/icons/kasse_48x48.bmp -text
ch.eugster.colibri.admin/icons/kasse_48x48.png -text
ch.eugster.colibri.admin/icons/kasse_48x48_32.bmp -text
ch.eugster.colibri.admin/icons/kasse_64x64.bmp -text
ch.eugster.colibri.admin/icons/kasse_64x64.png -text
ch.eugster.colibri.admin/icons/kasse_64x64_32.bmp -text
ch.eugster.colibri.admin/icons/login48.png -text
ch.eugster.colibri.admin/icons/ok_16.png -text
ch.eugster.colibri.admin/icons/settings_16x16.png -text
ch.eugster.colibri.admin/icons/undo_edit.png -text
ch.eugster.colibri.admin/icons/wait_animated.gif -text
ch.eugster.colibri.admin/plugin.xml -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/Activator.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/AdminApplication.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/AdminApplicationActionBarAdvisor.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/AdminApplicationWorkbenchAdvisor.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/AdminApplicationWorkbenchWindowAdvisor.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/ApplicationInstanceListener.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/ApplicationInstanceManager.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/PerspectiveSwitcherMenu.java -text
