* text=auto !eol
ch.eugster.colibri.admin.common.settings/.classpath -text
ch.eugster.colibri.admin.common.settings/.project -text
ch.eugster.colibri.admin.common.settings/.settings/org.eclipse.jdt.core.prefs -text
ch.eugster.colibri.admin.common.settings/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.colibri.admin.common.settings/META-INF/MANIFEST.MF -text
ch.eugster.colibri.admin.common.settings/build.properties -text
ch.eugster.colibri.admin.common.settings/icons/books.gif -text
ch.eugster.colibri.admin.common.settings/icons/gluehbirne_16.png -text
ch.eugster.colibri.admin.common.settings/icons/gluehbirne_grey_16.png -text
ch.eugster.colibri.admin.common.settings/icons/layout_16.png -text
ch.eugster.colibri.admin.common.settings/icons/printer.png -text
ch.eugster.colibri.admin.common.settings/icons/register_16.png -text
ch.eugster.colibri.admin.common.settings/icons/save_edit.png -text
ch.eugster.colibri.admin.common.settings/icons/undo_edit.png -text
ch.eugster.colibri.admin.common.settings/plugin.xml -text
ch.eugster.colibri.admin.common.settings/src/ch/eugster/colibri/admin/common/settings/Activator.java -text
ch.eugster.colibri.admin.common.settings/src/ch/eugster/colibri/admin/common/settings/AdminCommonSettingsPerspective.java -text
ch.eugster.colibri.admin.common.settings/src/ch/eugster/colibri/admin/common/settings/editors/GeneralSettingsEditor.java -text
ch.eugster.colibri.admin.common.settings/src/ch/eugster/colibri/admin/common/settings/editors/GeneralSettingsEditorInput.java -text
ch.eugster.colibri.admin.common.settings/src/ch/eugster/colibri/admin/common/settings/handlers/ShowCommonSettingsViewHandler.java -text
ch.eugster.colibri.admin.common.settings/src/ch/eugster/colibri/admin/common/settings/views/CommonSettingsContentProvider.java -text
ch.eugster.colibri.admin.common.settings/src/ch/eugster/colibri/admin/common/settings/views/CommonSettingsLabelProvider.java -text
ch.eugster.colibri.admin.common.settings/src/ch/eugster/colibri/admin/common/settings/views/CommonSettingsView.java -text
ch.eugster.colibri.admin.currency/.classpath -text
ch.eugster.colibri.admin.currency/.project -text
ch.eugster.colibri.admin.currency/.settings/org.eclipse.jdt.core.prefs -text
ch.eugster.colibri.admin.currency/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.colibri.admin.currency/META-INF/MANIFEST.MF -text
ch.eugster.colibri.admin.currency/OSGI-INF/l10n/bundle.properties -text
ch.eugster.colibri.admin.currency/build.properties -text
ch.eugster.colibri.admin.currency/icons/add_16.gif -text
ch.eugster.colibri.admin.currency/icons/add_grey_16.gif -text
ch.eugster.colibri.admin.currency/icons/delete_16.png -text
ch.eugster.colibri.admin.currency/icons/delete_grey_16.png -text
ch.eugster.colibri.admin.currency/icons/edit_16.png -text
ch.eugster.colibri.admin.currency/icons/edit_grey_16.png -text
ch.eugster.colibri.admin.currency/icons/money_blue_16.png -text
ch.eugster.colibri.admin.currency/icons/money_green_16.png -text
ch.eugster.colibri.admin.currency/icons/money_grey_16.png -text
ch.eugster.colibri.admin.currency/icons/money_red_16.png -text
ch.eugster.colibri.admin.currency/icons/money_violet_16.png -text
ch.eugster.colibri.admin.currency/icons/money_yellow_16.png -text
ch.eugster.colibri.admin.currency/icons/pointer_16.gif -text
ch.eugster.colibri.admin.currency/icons/save_edit.png -text
ch.eugster.colibri.admin.currency/icons/undo_edit.png -text
ch.eugster.colibri.admin.currency/plugin.properties -text
ch.eugster.colibri.admin.currency/plugin.xml -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/Activator.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/AdminCurrencyPerspective.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/editors/CurrencyEditor.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/editors/CurrencyEditorInput.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/handlers/AddCurrencyHandler.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/handlers/DeleteCurrencyHandler.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/handlers/EditCurrencyHandler.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/handlers/SetReferenceCurrencyHandler.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/handlers/ShowCurrencyViewHandler.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/views/CurrencyContentProvider.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/views/CurrencySorter.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/views/CurrencyView.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/wizards/CurrencyContentProvider.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/wizards/CurrencyLabelProvider.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/wizards/CurrencySorter.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/wizards/ReferenceCurrencyWizard.java -text
ch.eugster.colibri.admin.currency/src/ch/eugster/colibri/admin/currency/wizards/ReferenceCurrencyWizardPage.java -text
ch.eugster.colibri.admin.feature/.project -text
ch.eugster.colibri.admin.feature/build.properties -text
ch.eugster.colibri.admin.feature/feature.xml -text
ch.eugster.colibri.admin.layout.display/.classpath -text
ch.eugster.colibri.admin.layout.display/.project -text
ch.eugster.colibri.admin.layout.display/.settings/org.eclipse.jdt.core.prefs -text
ch.eugster.colibri.admin.layout.display/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.colibri.admin.layout.display/META-INF/MANIFEST.MF -text
ch.eugster.colibri.admin.layout.display/build.properties -text
ch.eugster.colibri.admin.layout.display/icons/layout_16.png -text
ch.eugster.colibri.admin.layout.display/icons/save_edit.png -text
ch.eugster.colibri.admin.layout.display/icons/undo_edit.png -text
ch.eugster.colibri.admin.layout.display/plugin.xml -text
ch.eugster.colibri.admin.layout.display/src/ch/eugster/colibri/admin/layout/display/Activator.java -text
ch.eugster.colibri.admin.layout.display/src/ch/eugster/colibri/admin/layout/display/editors/DisplayEditor.java -text
ch.eugster.colibri.admin.layout.display/src/ch/eugster/colibri/admin/layout/display/editors/DisplayEditorInput.java -text
ch.eugster.colibri.admin.layout.display/src/ch/eugster/colibri/admin/layout/display/menu/EditDisplayMenu.java -text
ch.eugster.colibri.admin/.classpath -text
ch.eugster.colibri.admin/.project -text
ch.eugster.colibri.admin/.settings/org.eclipse.jdt.core.prefs -text
ch.eugster.colibri.admin/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.colibri.admin/META-INF/MANIFEST.MF -text
ch.eugster.colibri.admin/build.properties -text
ch.eugster.colibri.admin/icons/error_16.png -text
ch.eugster.colibri.admin/icons/exclamation_16.png -text
ch.eugster.colibri.admin/icons/exit_16x16.png -text
ch.eugster.colibri.admin/icons/kasse_128x128.bmp -text
ch.eugster.colibri.admin/icons/kasse_128x128.png -text
ch.eugster.colibri.admin/icons/kasse_128x128_32.bmp -text
ch.eugster.colibri.admin/icons/kasse_16x16.bmp -text
ch.eugster.colibri.admin/icons/kasse_16x16.png -text
ch.eugster.colibri.admin/icons/kasse_16x16_32.bmp -text
ch.eugster.colibri.admin/icons/kasse_250x235.bmp -text
ch.eugster.colibri.admin/icons/kasse_32x32.bmp -text
ch.eugster.colibri.admin/icons/kasse_32x32.png -text
ch.eugster.colibri.admin/icons/kasse_32x32_32.bmp -text
ch.eugster.colibri.admin/icons/kasse_48x48.bmp -text
ch.eugster.colibri.admin/icons/kasse_48x48.png -text
ch.eugster.colibri.admin/icons/kasse_48x48_32.bmp -text
ch.eugster.colibri.admin/icons/kasse_64x64.bmp -text
ch.eugster.colibri.admin/icons/kasse_64x64.png -text
ch.eugster.colibri.admin/icons/kasse_64x64_32.bmp -text
ch.eugster.colibri.admin/icons/login48.png -text
ch.eugster.colibri.admin/icons/ok_16.png -text
ch.eugster.colibri.admin/icons/settings_16x16.png -text
ch.eugster.colibri.admin/icons/undo_edit.png -text
ch.eugster.colibri.admin/icons/wait_animated.gif -text
ch.eugster.colibri.admin/plugin.xml -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/Activator.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/AdminApplication.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/AdminApplicationActionBarAdvisor.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/AdminApplicationWorkbenchAdvisor.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/AdminApplicationWorkbenchWindowAdvisor.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/ApplicationInstanceListener.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/ApplicationInstanceManager.java -text
ch.eugster.colibri.admin/src/ch/eugster/colibri/admin/app/PerspectiveSwitcherMenu.java -text
