<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="category.profile"
            class="ch.eugster.colibri.admin.profile.views.ProfileView"
            icon="icons/sunshine.png"
            id="ch.eugster.colibri.admin.profile.view"
            name="Profile"
            restorable="true">
      </view>
      <category
            id="category.profile"
            name="Profile">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.colibri.admin.profile.perspective">
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.profile.view"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.colibri.admin.profile.editors.profile.ProfileEditor"
            default="false"
            icon="icons/profile_16.gif"
            id="ch.eugster.colibri.admin.profile.editor"
            name="ProfileEditor">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.profile.editors.configurable.ConfigurableEditor"
            default="false"
            icon="icons/configurable_16.gif"
            id="ch.eugster.colibri.admin.profile.configurable.editor"
            name="Configurable Editor">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.profile.editors.tab.TabEditor"
            default="false"
            icon="icons/tab_16.gif"
            id="ch.eugster.colibri.admin.profile.tab.editor"
            name="Tab Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="category.profile"
            name="ProfileCategory">
      </category>
      <command
            categoryId="category.profile"
            description="Profil kopieren"
            id="ch.eugster.colibri.admin.profile.commands.copyProfile"
            name="Kopieren">
      </command>
      <command
            categoryId="category.profile"
            defaultHandler="ch.eugster.colibri.admin.profile.handlers.AddProfileHandler"
            description="Profil hinzufügen"
            id="ch.eugster.colibri.admin.profile.commands.addProfile"
            name="Hinzufügen">
      </command>
      <command
            categoryId="category.profile"
            description="Profil bearbeiten"
            id="ch.eugster.colibri.admin.profile.commands.editProfile"
            name="Bearbeiten">
      </command>
      <command
            categoryId="category.profile"
            description="Profil entfernen"
            id="ch.eugster.colibri.admin.profile.commands.deleteProfile"
            name="Entfernen">
      </command>
      <command
            categoryId="category.profile"
            description="Bereich bearbeiten"
            id="ch.eugster.colibri.admin.profile.commands.editConfigurable"
            name="Bearbeiten">
      </command>
      <command
            categoryId="category.profile"
            description="Tab hinzufügen"
            id="ch.eugster.colibri.admin.profile.commands.addTab"
            name="Hinzufügen">
      </command>
      <command
            categoryId="category.profile"
            description="Tab bearbeiten"
            id="ch.eugster.colibri.admin.profile.commands.editTab"
            name="Bearbeiten">
      </command>
      <command
            categoryId="category.profile"
            description="Tab entfernen"
            id="ch.eugster.colibri.admin.profile.commands.deleteTab"
            name="Entfernen">
      </command>
      <command
            categoryId="category.profile"
            description="Ausgewählten Tab im Artikelerfassungsmodus in den Vordergrund bringen"
            id="ch.eugster.colibri.admin.profile.commands.setPositionDefaultTab"
            name="Vorschlagen">
      </command>
      <command
            categoryId="category.profile"
            description="Ausgewählten Tab im Zahlungsmodus in den Vordergrund bringen"
            id="ch.eugster.colibri.admin.profile.commands.setPaymentDefaultTab"
            name="Vorschlagen">
      </command>
      <command
            categoryId="category.profile"
            description="Nicht mehr in den Vordergrund bringen"
            id="ch.eugster.colibri.admin.profile.commands.clearPositionDefaultTab"
            name="Vorschlag entfernen">
      </command>
      <command
            categoryId="category.profile"
            description="Nicht mehr in den Vordergrund bringen"
            id="ch.eugster.colibri.admin.profile.commands.clearPaymentDefaultTab"
            name="Vorschlag entfernen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.colibri.admin.profile.handlers.EditProfileHandler"
            commandId="ch.eugster.colibri.admin.profile.commands.editProfile">
         <enabledWhen>
            <reference
                  definitionId="ch.eugster.colibri.admin.profile.singleProfileEntry">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.profile.handlers.DeleteProfileHandler"
            commandId="ch.eugster.colibri.admin.profile.commands.deleteProfile">
         <enabledWhen>
            <reference
                  definitionId="ch.eugster.colibri.admin.profile.multipleProfileEntries">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.profile.handlers.AddTabHandler"
            commandId="ch.eugster.colibri.admin.profile.commands.addTab">
         <enabledWhen>
            <reference
                  definitionId="ch.eugster.colibri.admin.profile.singleConfigurableEntry">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.profile.handlers.EditTabHandler"
            commandId="ch.eugster.colibri.admin.profile.commands.editTab">
         <enabledWhen>
            <reference
                  definitionId="ch.eugster.colibri.admin.profile.singleTabEntry">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.profile.handlers.DeleteTabHandler"
            commandId="ch.eugster.colibri.admin.profile.commands.deleteTab">
         <enabledWhen>
            <reference
                  definitionId="ch.eugster.colibri.admin.profile.multipleTabEntries">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.profile.handlers.CopyProfileHandler"
            commandId="ch.eugster.colibri.admin.profile.commands.copyProfile">
         <enabledWhen>
            <reference
                  definitionId="ch.eugster.colibri.admin.profile.singleProfileEntry">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.profile.handlers.SetPositionDefaultTabHandler"
            commandId="ch.eugster.colibri.admin.profile.commands.setPositionDefaultTab">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Tab">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.profile.handlers.SetPaymentDefaultTabHandler"
            commandId="ch.eugster.colibri.admin.profile.commands.setPaymentDefaultTab">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Tab">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.profile.handlers.ClearPositionDefaultTabHandler"
            commandId="ch.eugster.colibri.admin.profile.commands.clearPositionDefaultTab">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Tab">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.profile.handlers.ClearPositionDefaultTabHandler"
            commandId="ch.eugster.colibri.admin.profile.commands.clearPaymentDefaultTab">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Tab">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ch.eugster.colibri.admin.profile.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.copyProfile"
               hoverIcon="icons/profile_copy_16.gif"
               icon="icons/profile_copy_16.gif"
               label="Kopieren"
               style="push"
               tooltip="Ausgewähltes Profil kopieren">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.singleProfileEntry">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="ch.eugster.colibri.admin.profile.popup.separator1"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.editConfigurable"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählten Bereich bearbeiten">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.singleConfigurableEntry">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="ch.eugster.colibri.admin.profile.popup.separator2"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.addTab"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Tab hinzufügen"
               style="push"
               tooltip="Neuen Tab hinzufügen">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.singleConfigurableEntry">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.editTab"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählten Tab bearbeiten">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.singleTabEntry">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.deleteTab"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Delete selected Tab">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.multipleTabEntries">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="ch.eugster.colibri.admin.profile.popup.separator3">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.setPositionDefaultTab"
               hoverIcon="icons/pointer_16.gif"
               icon="icons/pointer_16.gif"
               label="Im Artikelerfassungsmodus in den Vordergrund bringen"
               style="push"
               tooltip="Im Artikelerfassungsmodus in den Vordergrund bringen">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.singleTabEntry">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.clearPositionDefaultTab"
               label="Vorschlag entfernen"
               style="push"
               tooltip="Clear Position Default Tab">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.singleTabEntry">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="ch.eugster.colibri.admin.profile.separator3"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.setPaymentDefaultTab"
               hoverIcon="icons/pointer_16.gif"
               icon="icons/pointer_16.gif"
               label="Im Zahlungsmodus in den Vordergrund bringen"
               style="push"
               tooltip="Set Payment State Default">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.singleTabEntry">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.clearPaymentDefaultTab"
               label="Vorschlag entfernen"
               style="push"
               tooltip="Nicht mehr in den Vordergrund bringen">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.singleTabEntry">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="ch.eugster.colibri.admin.profile.popup.separator0">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.addProfile"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Profil hinzufügen"
               style="push"
               tooltip="Neues Profil hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.editProfile"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewähltes Profil bearbeiten">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.singleProfileEntry">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.deleteProfile"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewähltes Profil entfernen">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.colibri.admin.profile.multipleProfileEntries">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.colibri.admin.profile.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.copyProfile"
               hoverIcon="icons/profile_copy_16.gif"
               icon="icons/profile_copy_16.gif"
               label="Kopieren"
               style="push"
               tooltip="Ausgewähltes Profil kopieren">
         </command>
         <separator
               name="ch.eugster.colibri.admin.profile.toolbar.separator0">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.addProfile"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neues Profil hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.editProfile"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewähltes Profil bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.deleteProfile"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewähltes Profil entfernen">
         </command>
         <separator
               name="ch.eugster.colibri.admin.profile.toolbar.separator1">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.editConfigurable"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählten Bereich bearbeiten">
         </command>
         <separator
               name="ch.eugster.colibri.admin.profile.toolbar.separator2"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.addTab"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neuen Tab hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.editTab"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählten Tab bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.deleteTab"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Delete selected Tab">
         </command>
         <separator
               name="ch.eugster.colibri.admin.profile.toolbar.separator3"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.setPositionDefaultTab"
               hoverIcon="icons/pointer_16.gif"
               icon="icons/pointer_16.gif"
               label="Im Artikelerfassungsmodus in den Vordergrund bringen"
               style="push"
               tooltip="Im Artikelerfassungsmodus in den Vordergrund bringen">
         </command>
         <separator
               name="ch.eugster.colibri.admin.profile.toolbar.separator4"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.profile.commands.setPaymentDefaultTab"
               hoverIcon="icons/pointer_16.gif"
               icon="icons/pointer_16.gif"
               label="Im Zahlungsmodus in den Vordergrund bringen"
               style="push"
               tooltip="Set Payment State Default">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.colibri.admin.menu.views?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               hoverIcon="icons/sunshine.png"
               icon="icons/sunshine.png"
               label="Profile"
               style="push"
               tooltip="Öffnen der Sicht mit den Profilen">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.colibri.admin.profile.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.admin.perspective.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               icon="icons/sunshine.png"
               label="Profile"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspktive Allgemein wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.admin.profile.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.colibri.admin.profile.editorContribution"
            targetID="ch.eugster.colibri.admin.profile.editor">
         <action
               actionID="profile.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="profile.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="profile.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="profile.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Save changes">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.admin.profile.configurable.editorContribution"
            targetID="ch.eugster.colibri.admin.profile.configurable.editor">
         <action
               actionID="configurable.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="configurable.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="configurable.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="configurable.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Save changes">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.admin.profile.tab.editorContribution"
            targetID="ch.eugster.colibri.admin.profile.tab.editor">
         <action
               actionID="tab.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="tab.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="tab.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="tab.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Save changes">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ch.eugster.colibri.admin.profile.singleProfileEntry">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.Profile">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="ch.eugster.colibri.admin.profile.multipleProfileEntries">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="ch.eugster.colibri.persistence.model.Profile">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ch.eugster.colibri.admin.profile.singleConfigurableEntry">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.Configurable">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="ch.eugster.colibri.admin.profile.singleTabEntry">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.Tab">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="ch.eugster.colibri.admin.profile.multipleTabEntries">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="ch.eugster.colibri.persistence.model.Tab">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.admin.profile.AdminProfilePerspective"
            icon="icons/sunshine.png"
            id="ch.eugster.colibri.admin.profile.perspective"
            name="Profile">
      </perspective>
   </extension>

</plugin>
