<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="category.product"
            class="ch.eugster.colibri.admin.product.views.ProductView"
            icon="icons/book_closed_16.png"
            id="ch.eugster.colibri.admin.product.view"
            name="Warengruppen"
            restorable="true">
      </view>
      <category
            id="category.product"
            name="Warengruppen">
      </category>
      <view
            allowMultiple="false"
            category="category.product"
            class="ch.eugster.colibri.admin.product.views.ExternalProductGroupView"
            icon="icons/book_closed_16.png"
            id="ch.eugster.colibri.admin.external.product.group.view"
            name="Externe Warengruppen"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.colibri.admin.product.perspective">
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.product.view"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.external.product.group.view"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ch.eugster.colibri.admin.product.view"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="category.product"
            name="Product Category">
      </category>
      <command
            categoryId="category.product"
            id="ch.eugster.colibri.admin.product.commands.addProductGroup"
            name="Hinzufügen">
      </command>
      <command
            categoryId="category.product"
            id="ch.eugster.colibri.admin.product.commands.deleteProductGroup"
            name="Entfernen">
      </command>
      <command
            categoryId="category.product"
            id="ch.eugster.colibri.admin.product.commands.editProductGroup"
            name="Bearbeiten">
      </command>
      <command
            categoryId="category.product"
            id="ch.eugster.colibri.admin.product.commands.setDefaultProductGroup"
            name="Als Default setzen">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="ch.eugster.colibri.admin.product.state">
         </state>
      </command>
      <command
            categoryId="category.product"
            defaultHandler="ch.eugster.colibri.admin.product.handlers.AddExternalProductGroupHandler"
            id="ch.eugster.colibri.admin.product.commands.addExternalProductGroup"
            name="Hinzufügen">
      </command>
      <command
            categoryId="category.product"
            id="ch.eugster.colibri.admin.product.commands.deleteExternalProductGroup"
            name="Entfernen">
      </command>
      <command
            categoryId="category.product"
            id="ch.eugster.colibri.admin.product.commands.editExternalProductGroup"
            name="Bearbeiten">
      </command>
      <command
            categoryId="category.product"
            defaultHandler="ch.eugster.colibri.admin.product.handlers.SetPayedInvoiceHandler"
            id="ch.eugster.colibri.admin.product.setPayedInvoice"
            name="Bezahlte Rechnung">
      </command>
      <command
            categoryId="category.product"
            defaultHandler="ch.eugster.colibri.admin.product.handlers.SetEBookHandler"
            id="ch.eugster.colibri.admin.product.commands.setEBooks"
            name="EBook setzen">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="ch.eugster.colibri.admin.product.state">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.colibri.admin.product.handlers.AddProductGroupHandler"
            commandId="ch.eugster.colibri.admin.product.commands.addProductGroup">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.product.IProductGroupType">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.product.handlers.EditProductGroupHandler"
            commandId="ch.eugster.colibri.admin.product.commands.editProductGroup">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.ProductGroup">
                     </instanceof>
                  </iterate>
               </and>
            </with></enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.product.handlers.DeleteProductGroupHandler"
            commandId="ch.eugster.colibri.admin.product.commands.deleteProductGroup">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.ProductGroup">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.product.handlers.SetDefaultProductGroupHandler"
            commandId="ch.eugster.colibri.admin.product.commands.setDefaultProductGroup">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.ProductGroup">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.product.handlers.EditExternalProductGroupHandler"
            commandId="ch.eugster.colibri.admin.product.commands.editExternalProductGroup">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.ExternalProductGroup">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.product.handlers.DeleteExternalProductGroupHandler"
            commandId="ch.eugster.colibri.admin.product.commands.deleteExternalProductGroup">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.ExternalProductGroup">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:ch.eugster.colibri.admin.product.view?after=additions">
         <separator
               name="ch.eugster.colibri.admin.product.separator1">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.setDefaultProductGroup"
               disabledIcon="icons/book_open_grey_16.png"
               hoverIcon="icons/openbook.gif"
               icon="icons/book_open_red_16.png"
               label="Als Default setzen"
               style="push"
               tooltip="Edit ProductGroup">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.setPayedInvoice"
               hoverIcon="icons/invoice_16.gif"
               icon="icons/invoice_16.gif"
               label="Für bezahlte Rechnungen verwenden"
               style="push"
               tooltip="Für bezahlte Rechnungen verwenden">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.addProductGroup"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.png"
               icon="icons/add_16.png"
               label="Hinzufügen"
               style="push"
               tooltip="Neue Warengruppe hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.editProductGroup"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Edit ProductGroup">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.deleteProductGroup"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Delete PaymentType">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.colibri.admin.product.view?after=additions">
         <separator
               name="ch.eugster.colibri.admin.product.separator2">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.setDefaultProductGroup"
               disabledIcon="icons/book_open_grey_16.png"
               hoverIcon="icons/openbook.gif"
               icon="icons/book_open_red_16.png"
               id="STYLE"
               label="Als Default setzen"
               style="toggle"
               tooltip="Ausgewählte Warengruppe als Default setzen">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.ProductGroup">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.setPayedInvoice"
               hoverIcon="icons/invoice_16.gif"
               icon="icons/invoice_16.gif"
               id="STYLE"
               label="Für bezahlte Rechnungen verwenden"
               style="toggle"
               tooltip="Für bezahlte Rechnungen verwenden">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.ProductGroup">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.setEBooks"
               id="STYLE"
               label="Für EBooks verwenden"
               style="toggle"
               tooltip="Für EBooks verwenden">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.ProductGroup">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.addProductGroup"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.png"
               icon="icons/add_16.png"
               label="Hinzufügen"
               style="push"
               tooltip="Add ProductGroup">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.product.IProductGroupType">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.editProductGroup"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Edit ProductGroup">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.ProductGroup">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.deleteProductGroup"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Delete PaymentType">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.ProductGroup">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.colibri.admin.menu.views?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               disabledIcon="icons/book_open_grey_16.png"
               hoverIcon="icons/book_open_blue_16.png"
               icon="icons/book_open_blue_16.png"
               label="Warengruppen"
               style="push"
               tooltip="Öffnen der Sicht mit den Warengruppen">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.colibri.admin.product.view">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               disabledIcon="icons/book_open_grey_16.png"
               hoverIcon="icons/book_open_blue_16.png"
               icon="icons/book_open_blue_16.png"
               label="Externe Warengruppen"
               style="push"
               tooltip="Öffnen der Sicht mit den Warengruppen">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.colibri.admin.external.product.group.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.colibri.admin.external.product.group.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.product.commands.addExternalProductGroup"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.png"
               icon="icons/add_16.png"
               label="Hinzufügen"
               style="push"
               tooltip="Neue externe Warengruppe hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.editExternalProductGroup"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählte externe Warengruppe bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.deleteExternalProductGroup"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewählte externe Warengruppe entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.colibri.admin.external.product.group.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.product.commands.addExternalProductGroup"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.png"
               icon="icons/add_16.png"
               label="Hinzufügen"
               style="push"
               tooltip="Add ProductGroup">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.ExternalProductGroup">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.editExternalProductGroup"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Edit ProductGroup">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.ExternalProductGroup">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.product.commands.deleteExternalProductGroup"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Delete PaymentType">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.ExternalProductGroup">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.admin.perspective.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               disabledIcon="icons/book_closed_grey_16.png"
               hoverIcon="icons/book_closed_16.png"
               icon="icons/book_closed_16.png"
               label="Warengruppen"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspktive Warengruppen wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.admin.product.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.colibri.admin.product.editors.ProductEditor"
            default="false"
            icon="icons/book.gif"
            id="ch.eugster.colibri.admin.product.editor"
            name="Warengruppe">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.product.editors.ExternalProductGroupEditor"
            default="false"
            icon="icons/book.gif"
            id="ch.eugster.colibri.admin.external.product.group.editor"
            name="Warengruppe">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.colibri.admin.product.editorContribution"
            targetID="ch.eugster.colibri.admin.product.editor">
         <action
               actionID="product.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               hoverIcon="icons/undo_edit.png"
               icon="icons/undo_edit.png"
               id="product.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="product.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               hoverIcon="icons/save_edit.png"
               icon="icons/save_edit.png"
               id="product.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen speichern">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.admin.product.editorContribution"
            targetID="ch.eugster.colibri.admin.external.product.group.editor">
         <action
               actionID="product.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               hoverIcon="icons/undo_edit.png"
               icon="icons/undo_edit.png"
               id="product.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="product.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               hoverIcon="icons/save_edit.png"
               icon="icons/save_edit.png"
               id="product.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen speichern">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.admin.product.AdminProductPerspective"
            icon="icons/book_open_blue_16.png"
            id="ch.eugster.colibri.admin.product.perspective"
            name="Warengruppen">
      </perspective>
   </extension>

</plugin>
