<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:ch.eugster.colibri.admin.menu.actions?after=additions">
         <command
               commandId="ch.eugster.colibri.persistence.replication.commands.replicate"
               label="Lokale Datenbank abgleichen"
               style="push"
               tooltip="Lokale Datenbank mit den Daten der Serverdatenbank aktualisieren.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.eugster.colibri.persistence.replication.impl.handlers.ReplicateHandler"
            id="ch.eugster.colibri.persistence.replication.commands.replicate"
            name="Replizieren">
      </command>
   </extension>

</plugin>
