<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="category.currency"
            class="ch.eugster.colibri.admin.currency.views.CurrencyView"
            icon="icons/money_blue_16.png"
            id="ch.eugster.colibri.admin.currency.view"
            name="%CurrencyView"
            restorable="true">
      </view>
      <category
            id="category.currency"
            name="Währungen">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="category.currency"
            name="%CurrencyCategory">
      </category>
      <command
            categoryId="category.currency"
            defaultHandler="ch.eugster.colibri.admin.currency.handlers.AddCurrencyHandler"
            id="ch.eugster.colibri.admin.currency.commands.addCurrency"
            name="%AddCurrency">
      </command>
      <command
            categoryId="category.currency"
            id="ch.eugster.colibri.admin.currency.commands.editCurrency"
            name="%EditCurrency">
      </command>
      <command
            categoryId="category.currency"
            id="ch.eugster.colibri.admin.currency.commands.deleteCurrency"
            name="%DeleteCurrency">
      </command>
      <command
            categoryId="category.currency"
            id="ch.eugster.colibri.admin.currency.commands.setReferenceCurrency"
            name="%SetReferenceCurrency">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.colibri.admin.currency.handlers.EditCurrencyHandler"
            commandId="ch.eugster.colibri.admin.currency.commands.editCurrency">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Currency">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.currency.handlers.DeleteCurrencyHandler"
            commandId="ch.eugster.colibri.admin.currency.commands.deleteCurrency">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.Currency">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.currency.handlers.SetReferenceCurrencyHandler"
            commandId="ch.eugster.colibri.admin.currency.commands.setReferenceCurrency">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Currency">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ch.eugster.colibri.admin.currency.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.currency.commands.setReferenceCurrency"
               hoverIcon="icons/pointer_16.gif"
               icon="icons/pointer_16.gif"
               label="%SetReferenceCurrency"
               style="push"
               tooltip="%SelectReferenceCurrency">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.Currency">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="ch.eugster.colibri.admin.currency.separator1">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.currency.commands.addCurrency"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="%AddCurrency"
               style="push"
               tooltip="%AddNewCurrency">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.currency.commands.editCurrency"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="%EditCurrency"
               style="push"
               tooltip="%EditSelectedCurrency">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.Currency">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.currency.commands.deleteCurrency"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="%DeleteCurrency"
               style="push"
               tooltip="%DeleteSelectedCurrency">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Currency">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.colibri.admin.currency.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.currency.commands.setReferenceCurrency"
               hoverIcon="icons/pointer_16.gif"
               icon="icons/pointer_16.gif"
               label="%SetReferenceCurrency"
               style="push"
               tooltip="%SelectReferenceCurrency">
         </command>
         <separator
               name="ch.eugster.colibri.admin.currency.separator1">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.currency.commands.addCurrency"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="%AddCurrency"
               style="push"
               tooltip="%AddNewCurrency">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.currency.commands.editCurrency"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="%EditCurrency"
               style="push"
               tooltip="%EditSelectedCurrency">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.currency.commands.deleteCurrency"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="%DeleteCurrency"
               style="push"
               tooltip="%DeleteSelectedCurrency">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.colibri.admin.menu.views?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               disabledIcon="icons/money_grey_16.png"
               hoverIcon="icons/money_blue_16.png"
               icon="icons/money_blue_16.png"
               label="Währungen"
               style="push"
               tooltip="Öffnen der Sicht für die Währungen">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.colibri.admin.currency.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.admin.perspective.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               disabledIcon="icons/money_grey_16.png"
               hoverIcon="icons/money_violet_16.png"
               icon="icons/money_violet_16.png"
               label="Währungen"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspektive Währungen wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.admin.currency.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.colibri.admin.currency.editors.CurrencyEditor"
            default="false"
            id="ch.eugster.colibri.admin.currency.editor"
            name="%CurrencyEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.colibri.admin.currency.editorContribution"
            targetID="ch.eugster.colibri.admin.currency.editor">
         <action
               actionID="currency.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="currency.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="%ResetCurrency">
         </action>
         <action
               actionID="currency.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="currency.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="%SaveCurrency">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.colibri.admin.currency.perspective">
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.currency.view"
               minimized="false"
               moveable="true"
               ratio=".5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.admin.currency.AdminCurrencyPerspective"
            icon="icons/money_blue_16.png"
            id="ch.eugster.colibri.admin.currency.perspective"
            name="Währungen">
      </perspective>
   </extension>

</plugin>
