<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="category.periphery"
            class="ch.eugster.colibri.admin.periphery.views.PeripheryView"
            icon="icons/usb_16.png"
            id="ch.eugster.colibri.admin.periphery.view"
            name="Peripherie"
            restorable="true">
      </view>
      <category
            id="category.periphery"
            name="Peripherie">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.colibri.admin.periphery.perspective">
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.periphery.view"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Peripherie bearbeiten"
            id="ch.eugster.colibri.admin.periphery.commands.editPeriphery"
            name="Bearbeiten">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.colibri.admin.periphery.handlers.EditPeripheryHandler"
            commandId="ch.eugster.colibri.admin.periphery.commands.editPeriphery">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.CustomerDisplaySettings">
                        </instanceof>
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.ReceiptPrinterSettings">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ch.eugster.colibri.admin.periphery.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.periphery.commands.editPeriphery"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählte Peripherie bearbeiten">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="ch.eugster.colibri.persistence.model.CustomerDisplaySettings">
                           </instanceof>
                           <instanceof
                                 value="ch.eugster.colibri.persistence.model.ReceiptPrinterSettings">
                           </instanceof>
                        </or>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.colibri.admin.periphery.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.periphery.commands.editPeriphery"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählte Peripherie bearbeiten">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.colibri.admin.menu.views?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               disabledIcon="icons/usb_grey_16.png"
               hoverIcon="icons/usb_16.png"
               icon="icons/usb_16.png"
               label="Peripherie"
               style="push"
               tooltip="Öffnen der Sicht mit der Peripherie">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.colibri.admin.periphery.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.admin.perspective.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               disabledIcon="icons/usb_grey_16.png"
               hoverIcon="icons/usb_16.png"
               icon="icons/usb_16.png"
               label="Peripherie"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspktive Peripherie wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.admin.periphery.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.colibri.admin.periphery.editors.CustomerDisplayEditor"
            default="false"
            icon="icons/usb_16.png"
            id="ch.eugster.colibri.admin.periphery.customer.display.editor"
            name="Kundendisplay">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.periphery.editors.ReceiptPrinterEditor"
            default="false"
            icon="icons/usb_16.png"
            id="ch.eugster.colibri.admin.periphery.receipt.printer.editor"
            name="Belegdrucker">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.periphery.editors.DisplayEditor"
            default="false"
            icon="icons/layout_16.png"
            id="ch.eugster.colibri.admin.periphery.display.layout.editor"
            name="Display Layout Editor">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.periphery.editors.PrintoutEditor"
            default="false"
            icon="icons/layout_16.png"
            id="ch.eugster.colibri.admin.periphery.printout.layout.editor"
            name="Print Layout Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.colibri.admin.periphery.display.editorContribution"
            targetID="ch.eugster.colibri.admin.periphery.customer.display.editor">
         <action
               actionID="periphery.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="periphery.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen verwerfen">
         </action>
         <action
               actionID="periphery.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="periphery.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen speichern">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.admin.periphery.printer.editorContribution"
            targetID="ch.eugster.colibri.admin.periphery.receipt.printer.editor">
         <action
               actionID="periphery.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="periphery.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen verwerfen">
         </action>
         <action
               actionID="periphery.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="periphery.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen speichern">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.admin.periphery.display.layout.editorContribution"
            targetID="ch.eugster.colibri.admin.periphery.display.layout.editor">
         <action
               actionID="periphery.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="periphery.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen verwerfen">
         </action>
         <action
               actionID="periphery.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="periphery.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen speichern">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.admin.periphery.printout.layout.editorContribution"
            targetID="ch.eugster.colibri.admin.periphery.printout.layout.editor">
         <action
               actionID="periphery.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="periphery.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen verwerfen">
         </action>
         <action
               actionID="periphery.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="periphery.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen speichern">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.admin.periphery.AdminPeripheryPerspective"
            icon="icons/usb_16.png"
            id="ch.eugster.colibri.admin.periphery.perspective"
            name="Peripherie">
      </perspective>
   </extension>

</plugin>
