<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.eugster.colibri.admin.tax.views.TaxView"
            icon="icons/percent_16.png"
            id="ch.eugster.colibri.admin.tax.view"
            name="Mehrwertsteuer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.colibri.admin.tax.perspective">
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.tax.view"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="category.tax"
            name="Taxes">
      </category>
      <command
            categoryId="category.tax"
            defaultHandler="ch.eugster.colibri.admin.tax.handlers.StartNewCurrentTaxWizardHandler"
            id="ch.eugster.colibri.admin.tax.commands.startNewCurrentTaxWizard"
            name="Neuen Mehrwertsteuersatz hinzufügen">
      </command>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:ch.eugster.colibri.ui.menu.commands?after=additions">
         <menu
               icon="icons/percent_16.png"
               label="Mehrwertsteuern"
               tooltip="Mehrwertsteuern">
            <command
                  commandId="ch.eugster.colibri.admin.tax.commands.startNewCurrentTaxWizard"
                  hoverIcon="icons/percent_16.png"
                  icon="icons/percent_16.png"
                  label="Neuer Satz"
                  style="push"
                  tooltip="Neuen Mehrwersteuersatz hinzufügen">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.colibri.admin.menu.views?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               hoverIcon="icons/percent_16.png"
               icon="icons/percent_16.png"
               label="Mehrwertsteuer"
               style="push"
               tooltip="Öffnen der Mehrwertsteuersicht">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.colibri.admin.tax.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.colibri.admin.menu.actions?after=additions">
         <separator
               name="ch.eugster.colibri.admin.tax.menu.separator1"
               visible="true">
         </separator>
         <menu
               icon="icons/percent_16.png"
               label="Mehrwertsteuern"
               tooltip="Mehrwertsteuern">
            <command
                  commandId="ch.eugster.colibri.admin.tax.commands.startNewCurrentTaxWizard"
                  hoverIcon="icons/percent_16.png"
                  icon="icons/percent_16.png"
                  label="Neuer Satz"
                  style="push"
                  tooltip="Neuen Mehrwersteuersatz hinzufügen">
            </command>
         </menu>
         <separator
               name="ch.eugster.colibri.admin.tax.menu.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.admin.perspective.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               hoverIcon="icons/percent_16.png"
               icon="icons/percent_16.png"
               label="Mehrwertsteuern"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspktive Mehrwertsteuern wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.admin.tax.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.colibri.admin.tax.editors.TaxRateEditor"
            default="false"
            id="ch.eugster.colibri.admin.editors.taxRateEditor"
            name="Mehrwertsteuerart">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.tax.editors.TaxTypeEditor"
            default="false"
            id="ch.eugster.colibri.admin.editors.taxTypeEditor"
            name="Mehrwertsteuertyp">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.tax.editors.TaxEditor"
            default="false"
            id="ch.eugster.colibri.admin.editors.taxEditor"
            name="Mehrwertsteuer">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.tax.editors.CurrentTaxEditor"
            default="false"
            id="ch.eugster.colibri.admin.editors.currentTaxEditor"
            name="Mehrwertsteuersatz">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.colibri.tax.editorContribution"
            targetID="ch.eugster.colibri.admin.editors.taxEditor">
         <action
               actionID="tax.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="tax.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="tax.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="tax.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Save">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.taxrate.editorContribution"
            targetID="ch.eugster.colibri.admin.editors.taxRateEditor">
         <action
               actionID="tax.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="tax.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="tax.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="tax.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Save">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.taxtype.editorContribution"
            targetID="ch.eugster.colibri.admin.editors.taxTypeEditor">
         <action
               actionID="tax.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="tax.reset"
               label="Vewerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="tax.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="tax.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Save">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.currenttax.editorContribution"
            targetID="ch.eugster.colibri.admin.editors.currentTaxEditor">
         <action
               actionID="tax.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="tax.reset"
               label="Vewerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Reset changes">
         </action>
         <action
               actionID="tax.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="tax.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Save">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.admin.tax.AdminTaxPerspective"
            icon="icons/percent_16.png"
            id="ch.eugster.colibri.admin.tax.perspective"
            name="Mehrwertsteuer">
      </perspective>
   </extension>

</plugin>
