<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.report.export.ReportImportExportPerspective"
            id="ch.eugster.colibri.report.export.perspective"
            name="Import/Export">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.eugster.colibri.report.export.category"
            class="ch.eugster.colibri.report.export.views.ImportExportView"
            id="ch.eugster.colibri.report.export.view"
            name="Import/Export"
            restorable="true">
      </view>
      <category
            id="ch.eugster.colibri.report.export.category"
            name="Import/Export">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:ch.eugster.colibri.report.menu.views?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               label="Import/Export"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.colibri.report.export.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.report.toolbar.perspectives?after=ch.eugster.colibri.report.separator.5">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               label="Import/Export"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspektive Import/Export wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.report.export.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
