<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.report.receipt.ReportReceiptPerspective"
            id="ch.eugster.colibri.report.receipt.perspective"
            name="Belegliste">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.colibri.report.receipt.perspective">
         <view
               closeable="true"
               id="ch.eugster.colibri.report.receipt.filterview"
               minimized="false"
               moveable="true"
               ratio=".3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.eugster.colibri.report.receipt.receiptview"
               minimized="false"
               moveable="true"
               ratio=".6"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.eugster.colibri.report.receipt.positionview"
               minimized="false"
               moveable="true"
               ratio=".4"
               relationship="bottom"
               relative="ch.eugster.colibri.report.receipt.receiptview"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.eugster.colibri.report.receipt.paymentview"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ch.eugster.colibri.report.receipt.positionview"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.eugster.colibri.report.receipt.category"
            name="Belegliste">
      </category>
      <view
            allowMultiple="false"
            category="ch.eugster.colibri.report.receipt.category"
            class="ch.eugster.colibri.report.receipt.views.ReceiptFilterView"
            id="ch.eugster.colibri.report.receipt.filterview"
            name="Filter"
            restorable="true">
      </view>
      <view
            category="ch.eugster.colibri.report.receipt.category"
            class="ch.eugster.colibri.report.receipt.views.ReceiptListView"
            id="ch.eugster.colibri.report.receipt.receiptview"
            name="Belegliste"
            restorable="true">
      </view>
      <view
            category="ch.eugster.colibri.report.receipt.category"
            class="ch.eugster.colibri.report.receipt.views.PositionListView"
            id="ch.eugster.colibri.report.receipt.positionview"
            name="Positionen"
            restorable="true">
      </view>
      <view
            category="ch.eugster.colibri.report.receipt.category"
            class="ch.eugster.colibri.report.receipt.views.PaymentListView"
            id="ch.eugster.colibri.report.receipt.paymentview"
            name="Zahlungen"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ch.eugster.colibri.report.receipt.print"
            name="Drucken">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.colibri.report.receipt.handlers.PrintReceiptHandler"
            commandId="ch.eugster.colibri.report.receipt.print">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Receipt">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.report.receipt.receiptview?after=additions">
         <command
               commandId="ch.eugster.colibri.report.receipt.print"
               disabledIcon="icons/print_disabled.gif"
               hoverIcon="icons/print.gif"
               icon="icons/print.gif"
               label="Beleg drucken"
               style="push"
               tooltip="Auf Belegdrucker ausdrucken">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.report.perspective.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               hoverIcon="icons/receipt.png"
               icon="icons/receipt.png"
               label="Belegliste"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspktive Belegliste wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.report.receipt.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
