<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="category.common"
            class="ch.eugster.colibri.admin.common.settings.views.CommonSettingsView"
            id="ch.eugster.colibri.admin.common.settings.view"
            name="Allgemein"
            restorable="true">
      </view>
      <category
            id="category.common"
            name="Allgemein">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.colibri.admin.common.settings.perspective">
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.common.settings.view"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:ch.eugster.colibri.admin.menu.views?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               disabledIcon="icons/gluehbirne_grey_16.png"
               hoverIcon="icons/gluehbirne_16.png"
               icon="icons/gluehbirne_16.png"
               label="Allgemein"
               style="push"
               tooltip="Öffnen der Sicht mit den allgemeinen Einstellungen">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.colibri.admin.common.settings.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.admin.perspective.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               disabledIcon="icons/gluehbirne_grey_16.png"
               hoverIcon="icons/gluehbirne_16.png"
               icon="icons/gluehbirne_16.png"
               label="Allgemein"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspktive Allgemein wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.admin.common.settings.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.admin.common.settings.AdminCommonSettingsPerspective"
            icon="icons/gluehbirne_16.png"
            id="ch.eugster.colibri.admin.common.settings.perspective"
            name="Allgemein">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.colibri.admin.common.settings.editors.GeneralSettingsEditor"
            default="false"
            id="ch.eugster.colibri.admin.common.settings.editor"
            name="Global">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.colibri.admin.common.settings.editorContribution"
            targetID="ch.eugster.colibri.admin.common.settings.editor">
         <action
               actionID="common.settings.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="common.settings..reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="%ResetCurrency">
         </action>
         <action
               actionID="common.settings.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="common.settings.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="%SaveCurrency">
         </action>
      </editorContribution>
   </extension>

</plugin>
