<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ch.eugster.colibri.report.application"
         name="ColibriTS II Berichte"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="ch.eugster.colibri.report.app.ReportApplication">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ch.eugster.colibri.report.toolbar.perspectives">
            <separator
                  name="ch.eugster.colibri.report.separator.0"
                  visible="false">
            </separator>
            <separator
                  name="ch.eugster.colibri.report.separator.1"
                  visible="false">
            </separator>
            <separator
                  name="ch.eugster.colibri.report.separator.2"
                  visible="false">
            </separator>
            <separator
                  name="ch.eugster.colibri.report.separator.3"
                  visible="false">
            </separator>
            <separator
                  name="ch.eugster.colibri.report.separator.4"
                  visible="false">
            </separator>
            <separator
                  name="ch.eugster.colibri.report.separator.5">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
