<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="category.salespoint"
            class="ch.eugster.colibri.admin.salespoint.views.SalespointView"
            icon="icons/salespoint.png"
            id="ch.eugster.colibri.admin.salespoint.view"
            name="Kassen"
            restorable="true">
      </view>
      <category
            id="category.salespoint"
            name="Kassen">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.colibri.admin.salespoint.perspective">
         <view
               closeable="true"
               id="ch.eugster.colibri.admin.salespoint.view"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.colibri.admin.salespoint.editors.SalespointEditor"
            default="false"
            icon="icons/salespoint.png"
            id="ch.eugster.colibri.admin.salespoint.editor"
            name="Kasse">
      </editor>
      <editor
            class="ch.eugster.colibri.admin.salespoint.editors.StockEditor"
            default="false"
            icon="icons/money_violet_16.png"
            id="ch.eugster.colibri.stock.editor"
            name="Stock">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="category.editor"
            name="Editoren">
      </category>
      <command
            categoryId="category.editor"
            id="ch.eugster.colibri.admin.salespoint.commands.save"
            name="Speichern">
      </command>
      <command
            categoryId="category.editor"
            id="ch.eugster.colibri.admin.salespoint.commands.reset"
            name="Verwerfen">
      </command>
      <category
            id="category.salespoint"
            name="Kassen">
      </category>
      <command
            categoryId="category.salespoint"
            defaultHandler="ch.eugster.colibri.admin.salespoint.handlers.AddSalespointHandler"
            id="ch.eugster.colibri.admin.salespoint.commands.addSalespoint"
            name="Kasse hinzufügen">
      </command>
      <command
            categoryId="category.salespoint"
            id="ch.eugster.colibri.admin.salespoint.commands.editSalespoint"
            name="Kasse bearbeiten">
      </command>
      <command
            categoryId="category.salespoint"
            id="ch.eugster.colibri.admin.salespoint.commands.deleteSalespoint"
            name="Kasse entfernen">
      </command>
      <command
            categoryId="category.salespoint"
            id="ch.eugster.colibri.admin.salespoint.commands.setSalespoint"
            name="Kasse setzen">
      </command>
      <category
            id="category.stock"
            name="Kassenstock">
      </category>
      <command
            categoryId="category.stock"
            defaultHandler="ch.eugster.colibri.admin.salespoint.handlers.AddStockHandler"
            id="ch.eugster.colibri.admin.salespoint.commands.addStock"
            name="Kassenstock hinzufügen">
      </command>
      <command
            categoryId="category.stock"
            id="ch.eugster.colibri.admin.salespoint.commands.editStock"
            name="Kassenstock bearbeiten">
      </command>
      <command
            categoryId="category.stock"
            id="ch.eugster.colibri.admin.salespoint.commands.deleteStock"
            name="Kassenstock entfernen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.colibri.admin.salespoint.handlers.EditSalespointHandler"
            commandId="ch.eugster.colibri.admin.salespoint.commands.editSalespoint">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Salespoint">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.salespoint.handlers.DeleteSalespointHandler"
            commandId="ch.eugster.colibri.admin.salespoint.commands.deleteSalespoint">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.Salespoint">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.salespoint.handlers.SetSalespointHandler"
            commandId="ch.eugster.colibri.admin.salespoint.commands.setSalespoint">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Salespoint">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.salespoint.handlers.EditStockHandler"
            commandId="ch.eugster.colibri.admin.salespoint.commands.editStock">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Stock">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.colibri.admin.salespoint.handlers.DeleteStockHandler"
            commandId="ch.eugster.colibri.admin.salespoint.commands.deleteStock">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="ch.eugster.colibri.persistence.model.Stock">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:ch.eugster.colibri.admin.salespoint.editor">
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.colibri.admin.salespoint.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.addSalespoint"
               disabledIcon="icons/add_salespoint_grey_16.png"
               hoverIcon="icons/add_salespoint_16.png"
               icon="icons/add_salespoint_16.png"
               label="Kasse hinzufügen"
               style="push"
               tooltip="Neue Kasse hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.editSalespoint"
               disabledIcon="icons/edit_salespoint_grey_16.png"
               hoverIcon="icons/edit_salespoint_16.png"
               icon="icons/edit_salespoint_16.png"
               label="Kasse bearbeiten"
               style="push"
               tooltip="Ausgewählte Kasse bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.deleteSalespoint"
               disabledIcon="icons/delete_salespoint_grey_16.png"
               hoverIcon="icons/delete_salespoint_16.png"
               icon="icons/delete_salespoint_16.png"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.2">
         </command>
         <separator
               name="separator.salespoint"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.setSalespoint"
               disabledIcon="icons/set_salespoint_grey_16.png"
               hoverIcon="icons/set_salespoint_16.png"
               icon="icons/set_salespoint_16.png"
               label="Kasse setzen"
               style="push"
               tooltip="Ausgewählte Kasse auf aktuelle Station setzen">
         </command>
         <separator
               name="separator.stock"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.addStock"
               disabledIcon="icons/add_money_grey_16.png"
               hoverIcon="icons/add_money_16.png"
               icon="icons/add_money_16.png"
               label="Stock hinzufügen"
               style="push"
               tooltip="Neuen Kassenstock der ausgewählten Kasse hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.editStock"
               disabledIcon="icons/edit_money_grey_16.png"
               hoverIcon="icons/edit_money_16.png"
               icon="icons/edit_money_16.png"
               label="Stock bearbeiten"
               style="push"
               tooltip="Ausgewählten Kassenstock bearbeiten">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.colibri.persistence.model.Stock">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.deleteStock"
               disabledIcon="icons/delete_money_grey_16.png"
               hoverIcon="icons/delete_money_16.png"
               icon="icons/delete_money_16.png"
               label="Stock entfernen"
               style="push"
               tooltip="Ausgewählten Kassenstock entfernen">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="ch.eugster.colibri.persistence.model.Stock">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="sparator.layout"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.colibri.admin.salespoint.view?after=additions">
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.addSalespoint"
               disabledIcon="icons/add_salespoint_grey_16.png"
               hoverIcon="icons/add_salespoint_16.png"
               icon="icons/add_salespoint_16.png"
               label="Kasse hinzufügen"
               style="push"
               tooltip="Neue Kasse hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.editSalespoint"
               disabledIcon="icons/edit_salespoint_grey_16.png"
               hoverIcon="icons/edit_salespoint_16.png"
               icon="icons/edit_salespoint_16.png"
               label="Kasse bearbeiten"
               style="push"
               tooltip="Ausgewählte Kasse bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.deleteSalespoint"
               disabledIcon="icons/delete_salespoint_grey_16.png"
               hoverIcon="icons/delete_salespoint_16.png"
               icon="icons/delete_salespoint_16.png"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.2">
         </command>
         <separator
               name="separator.salespoint"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.setSalespoint"
               disabledIcon="icons/set_salespoint_grey_16.png"
               hoverIcon="icons/set_salespoint_16.png"
               icon="icons/set_salespoint_16.png"
               label="Kasse setzen"
               style="push"
               tooltip="Ausgewählte Kasse auf aktuelle Station setzen">
         </command>
         <separator
               name="separator.stock"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.addStock"
               disabledIcon="icons/add_money_grey_16.png"
               hoverIcon="icons/add_money_16.png"
               icon="icons/add_money_16.png"
               label="Stock hinzufügen"
               style="push"
               tooltip="Neuen Kassenstock der ausgewählten Kasse hinzufügen">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.editStock"
               disabledIcon="icons/edit_money_grey_16.png"
               hoverIcon="icons/edit_money_16.png"
               icon="icons/edit_money_16.png"
               label="Stock bearbeiten"
               style="push"
               tooltip="Ausgewählten Kassenstock bearbeiten">
         </command>
         <command
               commandId="ch.eugster.colibri.admin.salespoint.commands.deleteStock"
               disabledIcon="icons/delete_money_grey_16.png"
               hoverIcon="icons/delete_money_16.png"
               icon="icons/delete_money_16.png"
               label="Stock entfernen"
               style="push"
               tooltip="Ausgewählten Kassenstock entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.colibri.admin.menu.views?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               disabledIcon="icons/salespoint_grey_16.png"
               hoverIcon="icons/salespoint.png"
               icon="icons/salespoint.png"
               label="Kassen"
               style="push"
               tooltip="Öffnen derKassensicht">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.colibri.admin.salespoint.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.colibri.admin.perspective.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               disabledIcon="icons/salespoint_grey_16.png"
               hoverIcon="icons/salespoint.png"
               icon="icons/salespoint.png"
               label="Kassen"
               mode="FORCE_TEXT"
               style="radio"
               tooltip="Zur Perspktive Kassen wechseln">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="ch.eugster.colibri.admin.salespoint.perspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.colibri.admin.salespoint.editorContribution"
            targetID="ch.eugster.colibri.admin.salespoint.editor">
         <action
               actionID="salespoint.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="salespoint.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen verwerfen">
         </action>
         <action
               actionID="salespoint.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="salespoint.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen speichern">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.colibri.stock.editorContribution"
            targetID="ch.eugster.colibri.stock.editor">
         <action
               actionID="stock.reset"
               class="ch.eugster.colibri.admin.ui.menus.ResetEditorActionDelegate"
               icon="icons/undo_edit.png"
               id="stock.reset"
               label="Verwerfen"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen verwerfen">
         </action>
         <action
               actionID="stock.save"
               class="ch.eugster.colibri.admin.ui.menus.SaveEditorActionDelegate"
               icon="icons/save_edit.png"
               id="stock.save"
               label="Speichern"
               style="push"
               toolbarPath="additions"
               tooltip="Änderungen speichern">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.colibri.admin.salespoint.AdminSalespointPerspective"
            icon="icons/salespoint.png"
            id="ch.eugster.colibri.admin.salespoint.perspective"
            name="Kassen">
      </perspective>
   </extension>

</plugin>
